<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube Party Playlist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
<section class="hero is-success is-fullheight bg">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        Youtube Party Playlist
                    </a>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Youtube Playlist Party
            </h1>
            <h2 class="subtitle">
                Watch YouTube with your friends!
            </h2>
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" type="text" placeholder="Type your nickname">
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="columns">
                        <div class="column is-6">
                            <button class="button is-link is-fullwidth" id="myPlaylistBtn">My playlist</button>
                        </div>
                        <div class="column is-6">
                            <button class="button is-link is-light is-fullwidth" id="joinPlaylistBtn">Join playlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="notification is-link" id="joinPlaylistBox">
    <button class="delete"></button>
    <div class="field">
        <div class="control">
            <input class="input is-info playlistId" type="text" placeholder="Playlist ID">
        </div>
    </div>
    <button class="button is-link is-light is-fullwidth joinBtn">Join</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="js/index.js"></script>

</body>
</html>