<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube Party Playlist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my.css">
</head>
<body>

<nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Youtube Party Playlist
        </a>
    </div>
</nav>

<section class="hero is-success">
    <div class="hero-head">
        <header class="navbar">
            <div class="container has-text-centered">
                <h1 class="title idHeader" style="width: 100%">Id: <span th:text="${playlistId}" id="idSpan"></span>
                    <span id="copyMessage" style="display: none">Copied!</span>
                </h1>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div id="player"></div>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <div class="columns">
                            <div class="column is-4">
                                <button class="button is-link is-large is-rounded is-fullwidth" id="prevBtn">
                                    <i class="fas fa-backward"></i>
                                </button>
                            </div>
                            <div class="column is-4">
                                <button class="button is-link is-large is-rounded is-fullwidth" id="togglePlayBtn">
                                    <i class="fas fa-play"></i>
                                    <i class="fas fa-pause" style="display: none"></i>
                                    <i class="fas fa-spinner" style="display: none"></i>
                                </button>
                            </div>
                            <div class="column is-4">
                                <button class="button is-link is-large is-rounded is-fullwidth" id="nextBtn">
                                    <i class="fas fa-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<section id="youtubeSearch"></section>
<section>
    <div class="container">
        <h2 class="title has-text-centered playlistTitle">Playlist</h2>
        <div class="columns is-gapless">
            <div class="column is-8">
                <div class="columns is-gapless">
                    <div class="column is-10">
                        <input class="input is-success" type="text" placeholder="Paste url of YT video" id="urlInput">
                    </div>
                    <div class="column is-2">
                        <button class="button is-success is-fullwidth" id="sendUrlButton">Send</button>
                    </div>
                </div>
                <button class="button is-danger" id="resetBtn">Reset playlist</button>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="playlistBody"></tbody>
                </table>
            </div>

            <div class="column is-1"></div>

            <div class="column is-3 has-background-primary">
                <h2 class="title has-text-centered playlistTitle">Users</h2>
                <table class="table is-fullwidth">
                    <tbody class="has-background-primary" id="usersBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="propertiesSection">
    <div class="container">
        <div class="columns">
            <div class="column is-4 has-background-info has-text-white">
                <h2 class="title has-text-centered">Settings</h2>
                <p>Max duration of video (Minutes)</p>
                <input type="checkbox" id="maxDurationCheckbox">
                <input class="input" type="number" value="10" min="1" id="maxDurationInput">
            </div>

            <div class="column is-4" id="bannedVideos"></div>

            <div class="column is-4 has-background-danger has-text-white" id="authorizationPanel"></div>
        </div>
    </div>
</section>

<div class="notification is-warning" id="resetNotification">
    <button class="delete"></button>
    <h1 class="has-text-centered">Are you sure you want to reset this playlist?</h1>
    <button class="button is-link is-danger is-fullwidth yes">YES</button>
    <button class="button is-link is-success is-fullwidth no">NO</button>
</div>

<div class="qrContainer" style="display: none">
    <button class="button is-danger is-small close"><i class="fas fa-times"></i></button>
    <div id="qrcode"></div>
</div>

<script th:inline="javascript" class="tempScript">
    /*<![CDATA[*/
    const tempPlaylistId = /*[[${playlistId}]]*/ 'default';
    const tempToken = /*[[${token}]]*/ 'default';
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/qrcode.min.js"></script>
<script src="/js/authorizationPanel.js"></script>
<script src="/js/bannedVideos.js"></script>
<script src="/js/duration.js"></script>
<script src="/js/data.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/ws.js"></script>
<script src="/js/my.js"></script>
<script src="/js/youtubeSearch.js"></script>

</body>
</html>