<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube Party Playlist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/playlist.css">
</head>
<body>

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Youtube Party Playlist
        </a>
    </div>
</nav>

<section class="hero is-link">
    <div class="hero-head">
        <header class="navbar">
            <div class="container has-text-centered">
                <h1 class="idHeader" style="width: 100%">Id: <span th:text="${playlistId}" id="idSpan"></span>
                    <span id="copyMessage" style="display: none">Copied!</span>
                </h1>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" id="currentTitle">Some title hehehehe</h1>
        </div>
    </div>
</section>

<section class="has-background-black">
    <div class="container">
        <h2 class="has-text-grey-lighter title has-text-centered playlistTitle">Find video on YouTube</h2>
        <div class="columns">
            <div class="column is-10">
                <input class="input is-danger" type="text" placeholder="Find" id="phraseInput">
            </div>
            <div class="column is-2">
                <button class="button is-danger is-light is-fullwidth" id="searchBtn">Find</button>
            </div>
        </div>
        <div class="searchResults has-text-grey-lighter">
            <h1 class="is-size-3">No results :/</h1>
            <div class="searchResult columns">
                <div class="column is-narrow thumbnail has-text-centered">
                    <img src="https://i.ytimg.com/vi/LCcIx6bCcr8/mqdefault.jpg" alt="thumbnail"/>
                </div>
                <div class="column details">
                    <h1 class="is-size-3">Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit)Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit)</h1>
                    <h3 class="is-size-6 has-text-grey is-italic">Ronnie ferrari</h3>
                    <p class="is-size-6 has-text-grey">Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit) Streaming / Download https://smarturl.it/OnaByTakChciala Przesłuchaj EP-kę Pozostałość ...</p>
                </div>
                <div class="column is-narrow plus has-text-centered">
                    <button class="button is-large is-fullwidth is-danger"><i class="fas fa-plus"></i></button>
                </div>
            </div>

            <div class="searchResult columns">
                <div class="column is-narrow thumbnail has-text-centered">
                    <img src="https://i.ytimg.com/vi/LCcIx6bCcr8/mqdefault.jpg" alt="thumbnail"/>
                </div>
                <div class="column details">
                    <h1 class="is-size-3">Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit)Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit)</h1>
                    <h3 class="is-size-6 has-text-grey is-italic">Ronnie ferrari</h3>
                    <p class="is-size-6 has-text-grey">Ronnie Ferrari - ONA BY TAK CHCIAŁA (Explicit) Streaming / Download https://smarturl.it/OnaByTakChciala Przesłuchaj EP-kę Pozostałość ...</p>
                </div>
                <div class="column is-narrow plus has-text-centered">
                    <button class="button is-large is-fullwidth is-danger"><i class="fas fa-plus"></i></button>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <h2 class="title has-text-centered playlistTitle">Playlist</h2>
                <div class="columns">
                    <div class="column is-10">
                        <input class="input is-info" type="text" placeholder="Paste url of YT video" id="urlInput">
                    </div>
                    <div class="column is-2">
                        <button class="button is-info is-fullwidth" id="sendUrlButton">Send</button>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody id="playlistBody"></tbody>
                </table>
            </div>

            <div class="column is-3 has-background-info">
                <h2 class="title has-text-centered playlistTitle">Users</h2>
                <table class="table is-fullwidth">
                    <tbody class="has-background-info" id="usersBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/
    const playlistId = /*[[${playlistId}]]*/ 'default';
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/ws.js"></script>
<script src="/js/playlist.js"></script>

</body>
</html>